    <h1>Twitter-like App</h1>
    <p>
    This is the home page for the
    <%= link_to "Twitter on Ruby on Rails", root_path %>
    is a project to make a Twitter-like concept app.
    </p>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
